/* You can add global styles to this file, and also import other style files */


.ctm-chatbot-table {
    background: #fff;
    border: 1px solid #ddd;
    border-bottom-right-radius: 32px;
    margin-bottom: 9px;
    margin:0 -12px;
}
.ctm-chatbot-table th, .ctm-chatbot-table thead, .ctm-chatbot-table thead tr {
    background: #1e6887;
    border: 1px solid #1e6887;
    color: #fff;
    font-weight: normal;
    text-align: center;
    padding: 6px 5px;
    font-size: 11px;
}
.ctm-chatbot-table tbody td {
    border: 1px solid #f7f4f4;
    font-size: 11px;
    padding: 5px 2px;
    text-align: center;
}